<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Welcome Page</title>
</head>

<body>
    <h1>Welcome to the Todo App</h1>

    <form action="#" th:action="@{/selectItems}" method="post">
        <select name="selectedItems" multiple>
            <option th:each="item : ${dataList}" th:value="${item}" th:text="${item}"></option>
        </select>
    </form>

    <button onclick="window.location.href='/addItem'" type="Add new">Add New</button>
    </div>
</body>

</html>